{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des commandes</h1>
    <ul>
        {% for order in processedOrders %}
            <li>
                <h2>Commande #{{ order.numCommande }}</h2>
                <p>Nom du destinataire : {{ order.nomDestinataire }}</p>
                <p>Adresse de livraison : {{ order.adresseLivraison }}</p>
                <p>Pays de livraison : {{ order.paysLivraison }}</p>
                <p>Code postal : {{ order.codePostal }}</p>
                <p>Ville de livraison : {{ order.villeLivraison }}</p>
                <h3>Articles :</h3>
                <ul>
                    {% for itemKey, itemDescription in order.items %}
                        <li>
                            {{ itemKey }}: {{ itemDescription }}
                        </li>
                    {% endfor %}
                </ul>
                {# Add other fields you want to display here #}
            </li>
        {% endfor %}
    </ul>
    <form action="{{ path('get_new_orders') }}" method="get">
        <button type="submit">Déclencher le flow orders_to_csv</button>
    </form>
{% endblock %}
