{% extends 'base.html.twig' %}

{% block title %}Liste des Contacts{% endblock %}

{% block body %}
    <h1>Liste des Contacts</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom du Compte</th>
                <th>Nom du Contact</th>
                <th>Pays</th>
                <th>Ville</th>
                <th>Code Postal</th>
                <th>Adresse</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.ID }}</td>
                    <td>{{ contact.AccountName }}</td>
                    <td>{{ contact.ContactName }}</td>
                    <td>{{ contact.Country }}</td>
                    <td>{{ contact.City }}</td>
                    <td>{{ contact.ZipCode }}</td>
                    <td>{{ contact.AddressLine1 }}{% if contact.AddressLine2 %}, {{ contact.AddressLine2 }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
